.category-nav-container {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  overflow-x: auto;
  white-space: nowrap;
  
  top: 70px; /* below header */
  z-index: 999;
}

.category-scroll {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 10px 16px;
}

.category-item {
  flex-shrink: 0;
  padding: 6px 14px;
  border-radius: 20px;
  background: #f5f5f5;
  color: #444;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.category-item:hover {
  background: #e8e5ff;
  color: #6354f2;
}

.category-item.active {
  background: #6354f2;
  color: #fff;
  font-weight: 600;
}
@media (max-width: 480px) {
   .category-scroll {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 16px;
}